<p id="notice"><%= notice %></p>

<h1>Events</h1>
<%= form_tag events_path, method: :get do %>
  <%= text_field_tag :keyword %>
  <%= submit_tag "Search" %>
<% end %> <br>

<%= form_tag events_path, method: :get do %>
  <%= select_tag "category", options_from_collection_for_select(Category.all, "name", "name", params[:category]), onchange: 'this.form.submit()', prompt: "All" %>
<% end %>

<%= form_tag bulk_update_events_path do %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Descrption</th>
        <th>Is public</th>
        <th>Capacity</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= check_box_tag "ids[]", event.id, false %><%= event.name %></td>
          <td><%= event.descrption %></td>
          <td><%= event.is_public %></td>
          <td><%= event.capacity %></td>
          <td><%= link_to 'Show', event %></td>
          <td><%= link_to 'Attendee List', event_attendees_path(event) %></td>
          <td><%= link_to 'Edit', edit_event_path(event) %></td>
          <td><%= link_to 'Dashboard', dashboard_event_path(event) %></td>
          <td><%= link_to toggle_public_button(event), toggle_public_event_path(event), method: :post %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= submit_tag 'DELETE' %>
  <%= submit_tag 'PUBLIC' %>
  <%= submit_tag 'UNPUBLIC' %>

<% end %>

<%= link_to 'New Event', new_event_path %>
